@using InnoGotchi_backend.Models.DTOs;
@model List<PetDto>
@{
    ViewData["Title"] = "GetPetListPage";
    Layout = "~/Views/Shared/AuthorizeLayout.cshtml";
}

<th><h1>List of Pets</h1></th>


<table class="table">
    <thead>
        <tr>
            <th>Pet Name</th>
            <th>Age</th>
            <th>Hunger Level</th>
            <th>Thirsty Level</th>
            <th>Happy Days Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pet in Model)
        {
            <tr>
                <td>@pet.PetName</td>
                <td>@pet.GetAge()</td>
                <td>@pet.GetHungerLevel()</td>
                <td>@pet.GetThirstyLevel()</td>
                <td>@pet.HappyDaysCount</td>
                <td>
                    @{
                        <div>
                        @if (pet.GetHungerLevel()!=InnoGotchi_backend.Models.Enums.HungerLevel.Dead && pet.GetThirstyLevel()!=InnoGotchi_backend.Models.Enums.ThirstyLevel.Dead)
                        {
                                <a asp-controller="pet" asp-action="feed-current-pet" asp-route-id=@pet.PetName>Feed</a>
                                <a asp-controller="pet" asp-action="give-drink" asp-route-id=@pet.PetName>Give a drink</a>
                        }
                            <a asp-controller="pet" asp-action="current-pet" asp-route-id=@pet.PetName>View</a>
                        </div>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Index">
    <input type="submit" asp-controller="farm" asp-action="my-own-farm" value="Back" class="btn btn-secondary" />
</form>
