@model Microsoft.AspNetCore.Http.IFormCollection;
@{
    ViewData["Title"] = "PetConstrator";
    Layout = "~/Views/Shared/AuthorizeLayout.cshtml";
}

<h1>Pet constrator</h1>
@using (Html.BeginForm("CheckRadio", "WebPet", FormMethod.Post))
{
    <div>
        <h3>Bodies</h3>
        @Html.RadioButton("body","body1.svg")
        <img src="~/Images/Bodies/body1.svg" width="200" height="200" />

        @Html.RadioButton("body","body2.svg")
        <img src="~/Images/Bodies/body2.svg" width="200" height="200" />

        @Html.RadioButton("body","body3.svg")
        <img src="~/Images/Bodies/body3.svg" width="200" height="200" />

        @Html.RadioButton("body","body4.svg")
        <img src="~/Images/Bodies/body4.svg" width="200" height="200" />

        @Html.RadioButton("body","body5.svg")
        <img src="~/Images/Bodies/body5.svg" width="200" height="200" />
    </div>

    <div>
        <h3>Eyes</h3>
        @Html.RadioButton("eye","eyes1.svg")
        <img src="~/Images/Eyes/eyes1.svg" width="150" height="150" />

        @Html.RadioButton("eye","eyes2.svg")
        <img src="~/Images/Eyes/eyes2.svg" width="150" height="150" />

        @Html.RadioButton("eye","eyes3.svg")
        <img src="~/Images/Eyes/eyes3.svg" width="150" height="150" />

        @Html.RadioButton("eye","eyes4.svg")
        <img src="~/Images/Eyes/eyes4.svg" width="150" height="150" />

        @Html.RadioButton("eye","eyes5.svg")
        <img src="~/Images/Eyes/eyes5.svg" width="150" height="150" />

        @Html.RadioButton("eye","eyes6.svg")
        <img src="~/Images/Eyes/eyes6.svg" width="200" height="200" />
    </div>

    <div>
        <h3>Mouths</h3>
        @Html.RadioButton("mouth","mouth1.svg")
        <img src="~/Images/Mouths/mouth1.svg" width="150" height="150" />

        @Html.RadioButton("mouth","mouth2.svg")
        <img src="~/Images/Mouths/mouth2.svg" width="150" height="150" />

        @Html.RadioButton("mouth","mouth3.svg")
        <img src="~/Images/Mouths/mouth3.svg" width="150" height="150" />

        @Html.RadioButton("mouth","mouth4.svg")
        <img src="~/Images/Mouths/mouth4.svg" width="150" height="150" />

        @Html.RadioButton("mouth","mouth5.svg")
        <img src="~/Images/Mouths/mouth5.svg" width="150" height="150" />
    </div>

    <div>
        <h3>Noses</h3>
        @Html.RadioButton("nose","nose1.svg")
        <img src="~/Images/Noses/nose1.svg" width="150" height="150" />

        @Html.RadioButton("nose","nose2.svg")
        <img src="~/Images/Noses/nose2.svg" width="150" height="150" />

        @Html.RadioButton("nose","nose3.svg")
        <img src="~/Images/Noses/nose3.svg" width="150" height="150" />

        @Html.RadioButton("nose","nose4.svg")
        <img src="~/Images/Noses/nose4.svg" width="150" height="150" />

        @Html.RadioButton("nose","nose5.svg")
        <img src="~/Images/Noses/nose5.svg" width="150" height="150" />

        @Html.RadioButton("nose","nose6.svg")
        <img src="~/Images/Noses/nose6.svg" width="150" height="150" />

    </div>

    <input type="submit" value="Look at pet"/>
}





